@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body {
  background-image: url("./media/bg.jpg");
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}
